@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorchange{
    0%{
        color: aquamarine;
    }
    20%{
        color:antiquewhite;
    }
    40%{
        color:bisque;
    }
    60%{
        color:blanchedalmond;
    }
    80%{
        color:whitesmoke;
    }
    100%{
        color:wheat;
    }
}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
}